img    {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 0px;
}

.labels {
    display: grid;
    justify-content: center;
}

.cutePics   {
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: 180px 180px;
}

p   {
    margin-bottom: 3px;
    margin-top: 3px;
    justify-self: center;
}

.links  {
    display: flex;
    justify-content: flex-start;
}

h1  {
    display: flex;
    justify-content: flex-start;
}

.pad    {
    padding-left: 30px;
}
